<header class="header">
    <h3>SolSim3</h3>
    <label>
      Star Systems: 
      <select (change)="solSystemChanged($event)">
        <option *ngFor="let system of solSystemsArray; let i = index" [value]="i">
          {{ system[0].RenderData.Name || 'Unnamed System' }}
        </option>
      </select>
    </label>
     
    <label>
      Granularity: 
      <select name="selectedGranularity"></select>
    </label>

    <div class = 'perfContainer'>
        <app-performance/>
    </div>
</header>