.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #252525;
  color: #ffffff;
}

.header, .footer {
  background-color: #1f1f1f;
  padding: 10px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d3-canvas {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3%;
}

.performanceView {
  position: relative;
  top: 30px;
}

.performanceCanvas {
  height: 3%;
  width: 300;
}

.perfNlowout {
  z-index: 1000;  /* High value to ensure it's on top */
  pointer-events: none;  /* Optional: prevents interaction with underlying elements */
  background-color: rgba(0, 0, 0, 0.5);  /* Optional: adds some background to make text readable */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.main {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 3%;

}